:root {
    --candsColor: #3691C8;
    --whiteBG: #fdfdfd;
    --contrastColor: #545454;

}

*
{

 font-family: 'Poppins', sans-serif;
}


::selection {
    background: #00000096;
    color: var(--whiteBG);

}

body {

    background-color: var(--whiteBG);

}

.highlight {
    color: var(--candsColor);
}

.showcase .highlight {

    text-shadow: 1px 1px 1px black;
}

.skip-nav-link {
    background: var(--whiteBG);
    color: var(--candsColor);
    
    
}
.nav-scrolled {
  color: #333;
  background-color: var(--whiteBG);
  box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
    
}

.showcase {
      background: #111;
}

.menu {
    background: var(--whiteBG);
}

.menu ul li a
{
    text-decoration: none;
    color: var(--menuBG);
    
}

.menu ul li a:hover,
.menu ul li a:focus
{

border-right-color: var(--candsColor);
color: var(--candsColor);


}

.switcher {
  background-color: var(--whiteBG);
  box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
  border-color: var(--candsColor);
}

[type="checkbox"]:checked + .app .switcher {
    border-color: var(--candsColor);
}


.app .dark {
    color: var(--contrastColor);

}

.app .light{
   color: var(--candsColor);
}


[type="checkbox"]:checked + .app .dark {
    color: var(--candsColor);

}

[type="checkbox"]:checked + .app .light{
    color: var(--contrastColor);
}









.overlay
{

  background: var(--candsColor);
}

.text h2,
.text h3,
.text p 
{
    color: var(--whiteBG);
}

.text.reverse h2
{
    color: var(--candsColor);
    text-shadow: 1px 1px 1px black;
}


.text.reverse h3
{
    color: var(--contrastColor);
    text-shadow: 1px 1px 1px black;
}


.text p {
    opacity: 0.8;
}

.text.reverse p {
    color: var(--contrastColor);
}


.text a,
.contact-form input[type="submit"]  
{
    color: var(--whiteBG);
    background: var(--candsColor);
    box-shadow: 0px 1px 0px 0px #005183bd;
    
    
}

.text a.reverse-color {
    background: var(--whiteBG);
    color: var(--candsColor);
}


.low {
    filter: grayscale(100%);
    opacity: 0.85;

    
}

.text a:hover,
.contact-form input[type="submit"]:hover,
.text a:focus,
.contact-form input[type="submit"]:focus
{
    filter: brightness(110%);
    opacity: 1;
}

.mid-section {
    background:var(--candsColor);

}

.editorial.top {
    fill: var(--candsColor);
}

.editorial.bottom {
    fill: var(--whiteBG);
}





.about-header.text.reverse h3 {
    color: var(--whiteBG);
}




.inner-container{
    background-color: var(--whiteBG);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (max-width: 1100px) {

    .inner-container{

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

    }
}


.team-title {
    color: var(--contrastColor);
}

.team-title::before,
.team-title::after {
border-color: var(--contrastColor);
}
.square-holder {
  background-color:#f1f1f1;
    border-color: #cecece;
}

.contact {
    background-color: var(--candsColor);
}

.contact .container {
    background-color: var(--whiteBG);
}

.contact .contact-info,
.contact .contact-info .contact-option
{
border-color: #0000002e;
}

.contact .contact-info i {
    color: var(--candsColor);
    
}

.contact-info h4 {
    color: var(--candsColor);

}
.contact-form h3 span {
    color: var(--candsColor);

}

.contact-form input,
.contact-form textarea
{
border-color: #0000002e;

}

footer {
    background-color: var(--candsColor);
}

.footer-navegation li {
    border-color: #fdfdfd38;
} 

footer .copyright {
    color:var(--whiteBG);
}

